<div id="new_creation">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-9">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <%= simple_form_for @creation do |f| %>
              <%= f.input :name %>
              <%= f.input :description %>
              <%= f.input :category_id, collection: @category_names %>
              <%= f.input :user_id, collection: @user_names %>
              <%= f.button :submit %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <%= render partial: 'layouts/sidebar', locals: { creations: @creations, users: @users } %>
      </div>

    </div>
  </div>
</div>