<div id="creation">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-9">
        <div class="row">
          <div class="col-md-4">
            <div class="thumbnail">
              <%= image_tag("thumbnail.svg") %>
            </div>
          </div>
          <div class="col-md-8">
            <h3 class="header">
              <%= link_to @creation.user.name, @creation.user %> / <%= @creation.name %>
              <span class="category"><%= link_to @creation.category.name, @creation.category %></span>
              <%= link_to content_tag(:span, "", class: "glyphicon glyphicon-trash"), creation_path, method: :delete, data: { confirm: "Are you sure?" }, class: "delete-icon" %>
            </h3>
            <p class="credits">
              <span class="like">
                <%= link_to content_tag(:span, " 104", class: "glyphicon glyphicon-thumbs-up"), "#" %>
                <!-- <span class="badge">104</span> -->
              </span>
              <span class="comment">
                <%= link_to content_tag(:span, " 56", class: "glyphicon glyphicon-comment"), "#" %>
                <!-- <span class="badge">56</span> -->
              </span>
              <span class="download">
                <%= link_to content_tag(:span, " 13", class: "glyphicon glyphicon-download"), "#" %>
                <!-- <span class="badge">13</span> -->
              </span>
            </p>
            <p class="description"><%= @creation.description %></p>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <%= render partial: 'layouts/sidebar', locals: { creations: @creations, users: @users } %>
      </div>
    </div>
  </div>
</div>