<aside>
  <div class="panel panel-default">
    <div class="panel-heading">Top Creations</div>
    <div class="panel-body">
      <div class="list-group">
        <% @creations.each do |creation| %>
          <%= link_to creation, class: "list-group-item" do %>
            <%= creation.name %>
            <%= content_tag(:span, "4", class: "badge") %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Top Creators</div>
    <div class="panel-body">
      <div class="list-group">
        <% @users.each do |user| %>
          <%= link_to user, class: "list-group-item" do %>
            <%= user.name %>
            <%= content_tag(:span, "4", class: "badge") %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

    <div class="panel panel-default">
    <div class="panel-heading">Top Categories</div>
    <div class="panel-body">
      <div class="list-group">
        <% @categories.each do |category| %>
          <%= link_to category, class: "list-group-item" do %>
            <%= category.name %>
            <%= content_tag(:span, "4", class: "badge") %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

</aside>


